- if ( model.fetch_type !== '' )
    if( model.fetch_type === 'media')
        h3=model.title
        !=model.content
    else
        - if( current_edit )
            div#locked
                -if( current_edit.creator_id == auth_user_id )
                    p This document is locked by you. 
                    a.open-continued-material-edit(href="#") Continue editing by clicking here
                -else
                    p="This document is locked by " + current_edit.creator_name + "."
            h3=model.title
            p.notruncation!=current_edit.content
        - else
            - if( model.title == "Agenda" && model.content == "")
                p.notruncation Agenda is empty.
            - else if( model.title == "Action Points" && model.content == "")
                p.notruncation Action points are empty.
            - else
                p.notruncation!=model.content

