h3=title
- if (date_string)
    p.mtngs-calendar=date_string + ', ' + time_string + ' ' + timezone_string
- else
    p.mtngs-calendar Scheduling in progress
- if ( location )
    - if( location === 'On Skype' || location === 'Online' || location === 'Location not known' )
        p.mtngs-location=location
    - else
        p.mtngs-location
            a(href="#").open-map-link=location

div#next-action-bar
    
// Skype button
- if (skype_url)
    a#skype_button(href=skype_url,data-role='button',data-icon='mtngs-skype',data-theme='b') Join Skype conference

div#progress-bar

// Participants

- if(is_draft)
    - if(participants.length <= 1)
        a.open-add-participant-view(data-theme="b", data-role="button") Add participants
    - else
        a.open-send-invites-view(href="invite.html?id=" + id, data-theme="b", data-role="button") Send invites

ul(data-role='listview',data-inset='true')
    li
        a(href="#").open-participant-view
            h3='Participants'
            .participant-list
            - if ( participants.length)
                .participants
                    - participants = _.sortBy( participants, function(p){ if( p.is_creator ) return 0;  else if( p.rsvp_status === 'yes' ) return 1; else if( p.rsvp_status === 'no' ) return 3; else return 2; });
                    - participants.forEach(function(participant){
                        div.wrap
                            - if( participant.image !== '' )
                                img(src=participant.image, width='30', height='30')
                            - else
                                span.placeholder-30
                            - if( date_string == "" )
                                // Time not set
                            - else if( participant.rsvp_status === 'yes' )
                                span.rsvp.yes
                            - else if( participant.rsvp_status === 'no' )
                                span.rsvp.no
                            - else
                                span.rsvp.unknown
                    - })

// Materials
ul#materials_list(data-role="listview",data-inset="true",data-theme="a")

a(href="#materialsPopup", data-rel="popup", data-theme="b", type="button") Add materials

#materialsPopup(data-role="popup", data-overlay-theme="a", data-theme="c", class="ui-corner-all")
    div(data-role="content", data-theme="d", class="ui-corner-bottom ui-content")
        h3(class="ui-title") Choose source        
        a.add-photo-material(href="#", data-role="button", data-theme="a") Camera
        a(href="#", data-role="button", data-theme="a") Existing photo
        a(href="#", data-role="button", data-rel="back", data-theme="c") Cancel

- if( app.options.build !== 'web' )
    a.add-photo-material(href='#',data-role="button") Add photo
    img#myImage
    div#upload_progress
    div.file-save-form(style="display:none;")
        input#file-upload-name(type="text",placeholder="Type filename here...")
        input#file-upload-id(type="hidden")
        a.save-photo-material(href='#',data-role="button",style="display:none;") Add to meeting
    div.save-text(style="display:none;")
        p Saving material...
