- var mms = _.filter( matchmakers, function(o){ return o.last_active_epoch === 0 || o.last_active_epoch * 1000 > new Date().getTime() })
div#meetme-cover
    div.top
        h1=user.name
        - var ts = ( user.organization_title && user.organization ) ? user.organization_title + ', ' + user.organization : user.organization_title + user.organization;
        p=ts
    div.middle.box
        div.border
            div.wrapper
                // TODO :fix def image
                img(src=user.image || '/images/meetings/new_profile.png')
        div.description
            if( mode === 'single' )
                p=mms[0].description
            else
                p=user.meetme_description
        div.clear
        each mm in mms
            div.mm
                h3
                    i(class=app.meetme_types[mm.meeting_type || 0].icon_class)
                    =mm.name
                a.meet-me(data-role="button",data-theme="b",data-mm=mm.vanity_url_path) Schedule

