h3=title
- if (date_string)
    p.mtngs-calendar=date_string + ' ' + time_string + ' ' + timezone_string
- if ( location )
    p.mtngs-location=location

div#next-action-bar

// Links
ul(data-role='listview',data-inset='true')
    li
        a(href="#").open-material-view
            h3 Materials
            p Agenda &amp; materials
    li
        a(href="#").open-participant-view
            h3='Participants'
            .participant-list
            - if ( participants.length)
                .participants
                    - participants.forEach(function(participant){
                        - if( ! participant.image ) participant.image = app.defaults.user_image
                        img(src=participant.image, width='20', height='20')
                    - })

// Skype button
- if (skype_address)
    a#skype_button(href=skype_address,data-role='button',data-icon='mtngs-skype',data-them='b')

// Progress bar
- if (ongoing)
    div.bar.wrapper
        div.bar-container
            div.text=timeleft
            div.bar(style='width:'+percentage+'%')

