h3=title
- if (date_string)
    p.mtngs-calendar=date_string + ', ' + time_string + ' ' + timezone_string
- if ( location )
    - if( location === 'Skype' || location === 'Online' || location === 'Location not known' )
        p.mtngs-location=location
    - else
        p.mtngs-location
            a(target="_blank",href="https://maps.google.com/maps?daddr="+location)=location

div#next-action-bar

div#progress-bar

// Links
ul(data-role='listview',data-inset='true')
    li
        a(href="#").open-material-view
            h3 Materials
            p Agenda &amp; materials
    li
        a(href="#").open-participant-view
            h3='Participants'
            .participant-list
            - if ( participants.length)
                .participants
                    - participants.forEach(function(participant){
                        div.participant
                            - if( participant.rsvp_required === 1 && participant.rsvp === "" )
                                span.rsvp-not-known
                            - if( participant.image !== '' )
                                img(src=participant.image, width='30', height='30')
                            - else
                                span.placeholder-30
                    - })

// Skype button
- if (skype_address)
    a#skype_button(href=skype_address,data-role='button',data-icon='mtngs-skype',data-them='b')
