h3=title
- if (date_string)
    p.mtngs-calendar=date_string + ', ' + time_string + ' ' + timezone_string
- if ( location )
    - if( location === 'Skype' || location === 'Online' || location === 'Location not known' )
        p.mtngs-location=location
    - else
        p.mtngs-location
            a(target="_blank",href="https://maps.google.com/maps?daddr="+location)=location

div#next-action-bar

div#progress-bar

// Participants
ul(data-role='listview',data-inset='true')
    li
        a(href="#").open-participant-view
            h3='Participants'
            .participant-list
            - if ( participants.length)
                .participants
                    - participants.forEach(function(participant){
                        div.wrap
                            - if( participant.image !== '' )
                                img(src=participant.image, width='30', height='30')
                            - else
                                span.placeholder-30
                            - if( participant.rsvp_status === 'yes' )
                                span.rsvp.yes
                            - else if( participant.rsvp_status === 'no' )
                                span.rsvp.no
                            - else
                                span.rsvp.unknown
                    - })


// Skype button
- if (skype_address)
    a#skype_button(href=skype_address,data-role='button',data-icon='mtngs-skype',data-them='b')
