a(href='meeting.html?id='+id)
    h3=title
    p=location
    div.top-bar
        span.left=date_string
        span.right=time_string
    - if ( participants.length)
        div.participants
            - participants.forEach(function(participant){
                div.wrap
                    - if( participant.image !== '' )
                        img(src=participant.image, width='20', height='20')
                    - else
                        span.placeholder-20
                    - if( participant.rsvp_status === 'yes' )
                        span.rsvp.yes
                    - else if( participant.rsvp_status === 'no' )
                        span.rsvp.no
                    - else
                        span.rsvp.unknown
            - })
