a(href='meeting.html?id='+id)
    h3=title
    p=location
    div.top-bar
        span.left=date_string
        span.right=time_string
    - if ( participants.length)
        div.participants
            - participants.forEach(function(participant){
                - if( ! participant.image ) participant.image = app.defaults.user_image
                img(src=participant.image, width='20', height='20')
            - })
