div#signup-form.form-full-width(data-role="fieldcontain")
    .ui-grid-a
        .ui-block-a
            - if( image )
                img(src=image).mtngs-profile-image
            - else
                span.placeholder-100.mtngs-profile-image
        .ui-block-b
            div.input-top
                input#user-firstname(data-theme="b",type="text",name="user-firstname",value=first_name,placeholder="First name")
            div.input-bottom
                input#user-lastname.corners-bottom(data-theme="b",type="text",name="user-firstname",value=last_name,placeholder="Last name")
    p
        input#user-organization(data-theme="b",type="text",name="user-organization",value=organization,placeholder="Organization")
    
    p
        input#user-title(data-theme="b",type="text",name="user-title",value=organization_title, placeholder="Title")
    p
        input#user-email(data-theme="b",type="text",name="user-email",value=email,placeholder="Email")
    p
        input#user-phone(data-theme="b",type="text",name="user-phone",value=phone,placeholder="Phone")
    p
        input#user-skype(data-theme="b",type="text",name="user-skype",value=skype,placeholder="Skype")
    div.controls
        a.save-profile-data(data-theme="b", type="button") Save