li
    - var c = user.proposal_answers[proposal.id] ? user.proposal_answers[proposal.id] : 'no';
    - if ( mode === 'choose' ) c = 'choose';
    - var dateString = DateFormat.dateString(proposal.begin_epoch, proposal.end_epoch)
    - var timeString = DateFormat.timeString(proposal.begin_epoch, proposal.end_epoch)
    a(href="#",data-option-id=proposal.id,class="option-"+c,data-time=dateString + ' ' + timeString)
        div.top-bar
            span.left=dateString
            span.right=timeString
        //span.right=timeString
        - if ( participants.length)
            div.participants
                - participants = _.sortBy( participants, function(p){ if( p.proposal_answers && p.proposal_answers[proposal.id] === 'yes' ) return 1; else if( p.proposal_answers && p.proposal_answers[proposal.id] === 'no' ) return 3; else return 2; });
                - participants.forEach(function(p){
                    div.wrap
                        - if( p.image !== '' )
                            img(src=p.image, width='20', height='20')
                        - else
                            span.placeholder-20
                        - if( p.proposal_answers && p.proposal_answers[proposal.id] === 'yes' )
                            span.rsvp.yes
                        - else if( p.proposal_answers && p.proposal_answers[proposal.id] === 'no' )
                            span.rsvp.no
                        - else
                            span.rsvp.unknown
                - })

