a(href='participant.html?id='+user_id)
    - if( !image ) var image = app.defaults.user_image
    img(src=image,width='60').mtngs-profile-image
    h3=name
    p=organization
    - if ( rsvp === 'attending' )
        p.rsvp.attending='Attending'
    - else if( rsvp === 'noshow' )
        p.rsvp.noshow='Not attending'
    - else if( rsvp === 'unknown' )
        p.rsvp.unknown='Not answered'
