a(href=)
    div.wrap.ui-li-thumb
        - if( locals.image )
            img(src=image,width='60')
        - else
            span.placeholder-60
        - if ( locals.proposal_answers && _.size(proposal_answers) > 0 )
            // Scheduling
        - else if ( locals.rsvp_status && rsvp_status === 'yes' )
            span.rsvp.yes
        - else if( locals.rsvp_status && rsvp_status === 'no' )
            span.rsvp.no
        - else
            span.rsvp.unknown
    h3=name
    -if( organization && organization_title )
        p=organization + ', '+organization_title
    -if( organization && ! organization_title )
        p=organization
    -if( ! organization && organization_title )
        p=organization_title
