.ui-grid-a
    .ui-block-a
        - if( image )
            img(src=image).mtngs-profile-image
        - else
            span.placeholder-100.mtngs-profile-image
    .ui-block-b
        - if (phone)
            a(href="tel:"+phone,data-role="button",data-theme="b")='Call'
        - if (phone)
            a(href="sms:"+phone,data-role="button",data-theme="b")='SMS'
        - if (skype)
            a(href="skype:"+skype,data-role="button",data-theme="b")='Skype'
- if(name)
    h3(style="margin-top:0px;padding-top:0px;margin-bottom:0px;margin-top:15px;")=name
-if( organization && organization_title )
    p=organization + ', '+organization_title
-if( organization && ! organization_title )
    p=organization
-if( ! organization && organization_title )
    p=organization_title
ul(data-role="listview",data-inset="true",data-theme="a")
    li
        p.mtngs-email
            a(style="font-weight:normal;color:#555;",href="mailto:"+email)=email
        - if (phone)
            p.mtngs-mobile=phone
        - if (skype)
            p.mtngs-skype=skype
        - if (linkedin)
            p.mtngs-linkedin
                a(style="font-weight:normal;color:#555;",href=linkedin)="LinkedIn Profile"
