a(href=show_url)
    - if( image )
        img(src=image,width='60').mtngs-profile-image
    - else
        span.placeholder-60.mtngs-profile-image.ui-li-thumb
    h3=name
    -if( organization && organization_title )
        p=organization + ', '+organization_title
    -if( organization && ! organization_title )
        p=organization
    -if( ! organization && organization_title )
        p=organization_title
    - if ( rsvp === 'yes' || ! rsvp_required )
        p.rsvp.attending Attending
    - else if( rsvp === 'no' )
        p.rsvp.noshow Not attending
    - else
        p.rsvp.unknown Not answered
